header {			
	margin-bottom: 24px;
	background-color: #2BA6CB;			
}
header, h1, h4 { color: white; }
h1, h2, h3, h4 {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
}
h1 { font-weight: 500; }
h4 { font-weight: 300; }
footer {
	border-top: solid 1px #CCC;
	margin-top: 24px;
	margin-bottom: 24px;
	padding-top: 24px;				
}
#password {
	font-family: Consolas, "Monaco", "Courier New", Courier, monospace;
}